.workoutsWholeContainer{
    height: 88vh;
   display: grid;
   place-items: center;
   grid-auto-flow: row;
   padding: 6rem 0rem;
}
.workoutsContainer{
    display: grid;
    grid-auto-flow: column;
}
.workoutsContainer li{
    list-style: none;
    border-radius: 6px;
    border:1px solid rgba(0, 0, 0, 0.237);
    width: 200px;
    height: 150px;
    display: grid;
    place-items: center;
}
.trainBtn{
  background-color: #fd3d0d;
  padding: 8px 5px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  color: hsl(0, 0%, 100%, 1);
}
a:hover{
    color: inherit;
}
